@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
// LoginPage.scss
// $primary-color: #4CAF50;
// $secondary-color: #333;
// $btn-color: #fff;
// $input-color: #f1f1f1;
// $border-radius: 5px;

*{
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  background-image: url('/chat.png');

  .login-box {
    background-color:rgba(1, 25, 42, 0.507);
    padding: 50px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(243, 241, 241, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 20%;
    height: 370px;
    font-family: "Varela Round", serif;
    backdrop-filter: blur(10px);
    // max-width: 400px;
    transition: box-shadow ease 0.3s;
    transition: transform ease 0.3s;

    &:hover {
     transform: scale(1.02);
      box-shadow: rgba(8, 235, 220, 0.486) 0px 24px 50px, rgba(243, 241, 241, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 20%;
    }

    h2 {
      text-align: center;
      margin-bottom: 40px;
      color:white;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .input-group {
        margin-bottom: 15px;

        input {
          width: 300px;
          padding: 12px;
          font-family: "Varela Round", serif;
          font-size: 14px;
          color: white;
          border:none;
          border-radius:20px;
          background-color:black;
          transition: ease 0.6s;
          box-shadow: rgba(39, 39, 39, 0.733) 0px 30px 60px -12px inset, rgba(65, 65, 65, 0.3) 0px 18px 36px -18px inset;
        }
        &:hover{
          border-radius: 20px;
        }
      }

      .login-btn {
        width: 20%;
        font-family: "Varela Round", serif;
        padding: 5px;
        background-color:white;
        color: black;
        border: none;
        margin-top: 10px;
        border-radius:20px;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: box-shadow ease 0.3s;
        &:hover {
          box-shadow: rgb(8, 235, 220) 0px 24px 50px, rgba(243, 241, 241, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    width: 20%;
        }
      }
    }

    .social-login {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      margin-top: 25px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;

        &.google-btn {
          background-color:black;

          &:hover {
            background-color: darken(#8d8b8b, 10%);
            color: white;
          }
        }

        &.facebook-btn {
          background-color:black;

          &:hover {
            background-color: darken(#8d8b8b, 10%);
            color: white;
            
          }
        }

        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }

    .links {
      text-align: center;
      a {
        color: white;
        text-decoration: none;
        font-size: 12px;
      }
      p {
        margin-top: 10px;
        color: white;
        font-size: 12px;
      }
    }
  }
}
